<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belajar Flask</title>
</head>
<body>
    <table>
        <tr>
            <th>No</th>
            <th>Nama buah</th>
            <th>Nama hewan</th>
        </tr>
        {% for nomor_kolom, buah, hewan in data["no"] | zip(data["buah"], data["hewan"]) %}
        <tr>
            <td>{{ nomor_kolom }}</td>
            <td>{{ buah }}</td>
            <td>{{ hewan }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>