<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belajar Flask</title>
</head>
<body>
    <table>
        <tr>
            <th>No</th>
            <th>sentimen</th>
            <th>tweet</th>
            <th>tweet_processing</th>
        </tr>
        {% for item in data %}
        <tr>
            <td>{{ item[""] }}</td>
            <td>{{ item["sentimen"] }}</td>
            <td>{{ item["tweet"] }}</td>
            <td>{{ item["tweet_processing"] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>